<div class="login-wrapper">
  <form class="login" [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
    <label class="title">
      Vanguard IM
      <h5 class="hint">Enroll to management console.</h5>
    </label>
    <div class="login-group">
      <input class="username" type="text" placeholder="Email Address" autofocus formControlName="username">
      <input class="password" type="password" placeholder="Password" formControlName="password">
      <input class="password" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
      <div class="error active" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <button type="submit" class="btn btn-primary">REGISTER</button>
      <a routerLink="/login" class="signup">Sign in to Vanguard IM</a>
    </div>
  </form>
</div>
